*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 70px;
    padding: 0;
    background: rgb(163, 2, 163);
    box-shadow: 0px 3px 5px 1px grey;
    gap: 40px;
}

#question {
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full-page {
    text-align: center;
}

.timer-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 65px;
    background: rgb(131, 127, 127);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 8px;
    text-align: center;
}

#timer {
    align-items: center;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background: rgb(151, 43, 43);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 8px;

}


body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #e2e600;
}

.full-page {
    width: 800px;
    max-width: 80%;
    background-color: purple;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;

}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 5px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: black
}

.btn.wrong {
    background-color:red;
    color: black  
}
.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.control-btn {
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.hide {
    display: none;
}
